<html>
<head>
	<title>Api Generator Configuration Visualizer</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<h1>Api Generator Configuration Visualizer</h1>
<table class="table table-striped">
<thead>
	<td>Entity</td>
	<td>Url created</td>
	<td>Get one by Id</td>
	<td>Get one by Id (deep)</td>
	<td>Get all instances</td>
	<td>Get all instances (deep)</td>
	<td>Create</td>
	<td>Update</td>
	<td>Delete</td>
</thead>

{% macro displayBoolean(value) %}
    <td class="{{ value ? 'success':'danger' }}">{{ value ? 'Yes':'No' }}</td>
{% endmacro %}

{% for availableEntity in availableEntities %}
<tr>
    <td>{{ availableEntity.class }}</td>
    <td>{{ availableEntity.alias }}</td>
    {{ _self.displayBoolean(availableEntity.get_one) }}
    {{ _self.displayBoolean(availableEntity.get_one_deep) }}
    {{ _self.displayBoolean(availableEntity.get_all) }}
    {{ _self.displayBoolean(availableEntity.get_all_deep) }}
    {{ _self.displayBoolean(availableEntity.create) }}
    {{ _self.displayBoolean(availableEntity.update) }}
    {{ _self.displayBoolean(availableEntity.delete) }}
</tr>
{% endfor %}
</table>
</body>
</html>
